<p><%= @driver.name %>, <%= @driver.email %></p>


<h3>List of Jobs</h3>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Pickup time</th>
            <th>Package type</th>
            <th>Weight</th>
            <th>Status</th>
         </tr>
    </thead>
    <tbody>
    <% @packages.each do |p| %>
        <% if @driver.id == p.driver_id %>
            <tr>
                <td><%= p.name %></td>
                <td><%= p.email %></td>
                <td><%= p.phone %></td>
                <td><%= p.address %></td>
                <td><%= p.pickup_time %></td>
                <td><%= p.package_type %></td>
                <td><%= p.weight %></td>
                <td><%= select_tag '#', options_for_select(["picked up", "delivered", "not delivered", "returned"]), :style => "width:120px" %></td>
            </tr>
        <% end %> 
    <% end %>
    </tbody>
</table>

 

